<div class="container">

  <%= render 'users/message',book: @book %>

  <div class="row">
    <%= render 'users/user_info', user: @user, book: @book %>


    <div class="col-md-8 offset-md-1">
      <p>
       <%= link_to '新しい順', books_path(latest: "true") %>
       |<%= link_to '古い順', books_path(old: "true") %>
       |<%= link_to '星が多い順', books_path(star_desc: "true") %>
      </p>
      <%= render 'books_index', books: @books %>
    </div>
  </div>
</div>
