<div class="container">
  <div class="col-md-8 offset-md-1">
    <table class="table table-hover">

      <% if @range == "User" %>
    <h1>Users</h1>
       <% if @users.empty? %>
        <h2>検索条件に一致する結果が見つかりませんでした。</h2>
       <% else %>
      <thead>
        <tr>
          <td>image</td>
          <td>Name</td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
        <tr>
          <td><a href="<%= user_path(user.id) %>"><%= image_tag user.get_profile_image(100,100) %></a></td>
          <td><a href="<%= user_path(user.id) %>"><%= user.name %></a></td>


           <td>
             <% if user !=current_user %>
            <% if user.followed_by?(current_user) %>
            　<%= link_to user_relationship_path(user_id: user.id, id: current_user.id), method: :delete do %>
                <button type="button" class="btn btn-success">フォローを外す</button>
              <% end %>
            <% else %>
              <%= link_to user_relationships_path(user.id), method: :post do %>
              　<button type="button" class="btn btn-success">フォローする</button>
              <% end %>
            <% end %>
           <% end %>
           </td>


          <td><a href="<%= user_path(user.id) %>">Show</a></td>
        </tr>
        <% end %>
        <% end %>
     </tbody>
      <% else %>
      <% if @books.empty? %>
      <h1>Books</h1>
      <h2>検索条件に一致する結果が見つかりませんでした。</h2>
      <% else %>
       <%= render 'books/books_index', books: @books %>
      <% end %>
      <% end %>
    </table>
  </div>
  </div>

</div>
